<div class="flex flex-col gap-10">

    <div class="flex items-center justify-between gap-10">

        <div class="inline-flex items-center gap-2">
            <a href="<%= variables.routes.admin %>" class="text-slate-600 hover:underline">Dashboard</a>
            <span class="text-xs">
    
                <i class="fa-solid fa-angle-right"></i>
            </span>
            <span class="font-medium">Posts</span>
        </div>

        <form method="get" class="flex items-center gap-2">
            
            <%- include('./components/form/input', {placeholder: "Search post...", className: "!w-auto", name: "q"}) %>
            <%- include('./components/general/button', {text: "Search", buttonType: "primary"}) %>
            
        </form>
    </div>
    <%- include('./components/pages/post-list.ejs', {removeSeeAll: true}) %>
</div>